# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore the build, lib, and log dirs
build
lib/*
logs
log

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore ANTLR extras
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.java
*.tokens